<form action="/" method="post" enctype="multipart/form-data">
    <input type="file" name="image" />
    <%= Rack::Csrf.tag(env) %>
    <input type="submit" name="submit" value="Upload" />
</form>
<% @twzzlz.each do |twzzl| %>
  <img src="<%= twzzl.image.url %>" />
  <form action="twzzl/<%=twzzl.id%>/unwrap" method="post">
      <%= Rack::Csrf.tag(env) %>
      <input type="submit" name="unwrap" value="Unwrap">
  </form>
<% end %>
<% if @user %>
    <form action="/session" method="post">
        <input type="hidden" name="_method" value="delete">
        <%= Rack::Csrf.tag(env) %>
        <button type="submit" name="button">sign out</button>
    </form>   
<% end %> 