<div class="index-view">
    <header class="header">
        <nav class="nav">
            <div class="nav-left">
                <div class="logo">
                    <div></div>
                </div>
            </div>
            <div class="nav-right">
                <% if @user %>
                    <div class="sign-out">
                        <form action="/session" method="post">
                            <input type="hidden" name="_method" value="delete">
                            <%= Rack::Csrf.tag(env) %>
                            <button type="submit" name="button">sign out</button>
                        </form>
                    </div>
                <% else %>
                    <a href="/session/new">sign in</a> or <a href="/users/new">sign up</a>
                <% end %> 
            </div>
        </nav>
    </header>
    
    <main>
        <%= styled_flash %>
        <div class="upload-image">
            <% if @user %>
            <form action="/" method="post" enctype="multipart/form-data">
                <%= Rack::Csrf.tag(env) %>
                <input type="file" name="image" />
                <input type="submit" name="submit" value="Upload" />
            </form>
            <% end %>
        </div>
        <div class="twzzlz-list-view">
            <div class="twzzl-list">
                <% @twzzlz.each do |twzzl| %>
                    <div class="twzzl">
                        <div class="twzzl-image">
                            <img src="<%= twzzl.image.url %>" />
                        </div>
                        <form action="twzzl/<%=twzzl.id%>/unwrap" method="post">
                            <%= Rack::Csrf.tag(env) %>
                            <input type="submit" name="unwrap" value="Unwrap">
                        </form>
                        <form action="twzzl/<%=twzzl.id%>" method="post">
                            <%= Rack::Csrf.tag(env) %>
                            <input type="hidden" name="_method" value="delete">
                            <% if @user && @user.id == twzzl.user_id %>
                                <input type="submit" name="delete" value="Delete">
                            <% end %>  
                        </form>
                    </div>
                <% end %>
            </div>
        </div>
    </main>
</div>
